<html>
<body>
<h1>Fitxa de secció</h1>
<ul>
<li><strong>{{ seccio.codi }}</strong></li>
<li><strong>Nom</strong>: {{seccio.nom}}</li>
<li><strong>Descripció</strong>: {{ seccio.descripcio }}</li>
<li><strong>Any</strong>: {{ seccio.any }}</li>
</ul>
</body>
</html>
